<p>  
	<h2><%= @user.username %>
		<% if @user.banned %>
			<button type="button" class="btn btn-info"><strong>account frozen</strong></button>
		<% end %>
	</h2>
</p>

<p>
	<%= "Has made #{pluralize(@user.ratings.count, 'rating')}" %>
</p>

<% if @user.beer_clubs.any? %> 
<p>
	Member of <% @user.beer_clubs.each do |club| %>
	<%= link_to club.name, beer_club_path(club.id) %>
	<% end %>
</p>
<%end%>

<p>
	<h3>ratings</h3>
</p>

<p>
	<ul>
		<% @user.ratings.each do |rating| %>
		<li>
			<%= rating.to_s %>
			<% if @user == current_user %>
			<%= link_to 'delete', rating_path(rating.id), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</li>
		<% end %>
	</ul>
</p>

<% if @user.favorite_style %>
<p>
	favorite style: <%= @user.favorite_style %>
</p>
<% end %>

<% if @user.favorite_brewery %>
<p>
	favorite brewery: <%= @user.favorite_brewery %>
</p>
<% end %>

<p>
	<% if !current_user.nil? && current_user.admin && @user != current_user %>
	<% if @user.banned %>
	<%= link_to "reactive account", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-primary" %>
	<% else %>
	<%= link_to "freeze account", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-primary" %>
	<% end %>
	<% end %>
</p>

<p>
	<% if !current_user.nil? && @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-info" %>
	<%= link_to 'Destroy', @user, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>

</p>
